@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,300,700);






#menu-0 .mbr-brand__name {
  font-size: 16px;
}
#menu-0.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-0 .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-0 .mbr-brand__name a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#menu-0 .mbr-navbar__items a {
  font-size: 10px;
}
#header4-1 H1 {
  text-align: center;
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
}
#header4-1 P {
  font-family: 'Roboto Slab', serif;
}
#slider-2 P {
  font-size: 20px;
  text-align: left;
  color: #efefef;
}
#slider-2 H1 {
  text-align: left;
  color: #fac51c;
}
#header3-5 H3 {
  font-size: 36px;
}
#features1-3 P {
  color: #28324e;
  font-family: 'Oswald', sans-serif;
}
#msg-box1-a .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-a .mbr-article {
  color: #fff;
}
#pricing-table1-9 SPAN {
  font-size: 60px;
  font-family: 'Oswald', sans-serif;
}
#contacts2-c P {
  color: #fac51c;
  font-size: 16px;
}
#social-buttons2-d .mbr-header__text {
  color: #28324e;
  font-family: 'Oswald', sans-serif;
}


#menu-e .mbr-brand__name {
  font-size: 16px;
}
#menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-e .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-e .mbr-brand__name a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#menu-e .mbr-navbar__items a {
  font-size: 10px;
}
#header1-j H1 {
  font-size: 32px;
  font-family: 'Oswald', sans-serif;
  color: #fac51c;
}
#header1-j P {
  color: #efefef;
  text-align: left;
  font-size: 20px;
}
#content1-l DIV {
  color: #28324e;
}
#msg-box1-p .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-p .mbr-article {
  color: #fff;
}
#content4-n P {
  font-size: 14px;
  color: #28324e;
}
#content4-n P {
  text-align: center;
  font-size: 13px;
}
#content4-q P {
  font-size: 13px;
}
#content4-v P {
  font-size: 15px;
  text-align: center;
}
#msg-box1-w .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-w .mbr-article {
  color: #fff;
}
#contacts3-s P {
  color: #28324e;
}
#contacts3-s UL {
  color: #000000;
}



#menu-e .mbr-brand__name {
  font-size: 16px;
}
#menu-e.mbr-navbar--stuck .mbr-navbar__section {
  background: #2c2c2c;
}
#menu-e .mbr-navbar__hamburger {
  color: #cccccc;
}
#menu-e .mbr-brand__name a {
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
}
#menu-e .mbr-navbar__items a {
  font-size: 10px;
}
#header1-e H1 {
  font-size: 30px;
  font-family: 'Oswald', sans-serif;
  color: #fac51c;
}
#header1-e P {
  color: #efefef;
}
#content1-f P {
  color: #28324e;
}
#msg-box1-q .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-q .mbr-article {
  color: #fff;
}
#content4-r P {
  font-size: 14px;
}
#content4-r P {
  font-size: 13px;
  font-family: 'Oswald', sans-serif;
}
#msg-box1-x .mbr-header .mbr-header__text {
  color: #fff;
}
#msg-box1-x .mbr-article {
  color: #fff;
}
#contacts3-s P {
  color: #28324e;
}
#contacts3-s UL {
  color: #000000;
}
